@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #76f7ce -100%,
    rgba(255, 255, 255, 0) 100%
  );

  .title {
    p {
      margin: 0;
      font-size: 46px;
      color: $primary;
    }
    h1 {
      margin: 0;
      font-size: 46px;
      color: $primary;
    }
  }
  .text {
    p {
      font-size: 28px;
    }
  }

  .text-container {
    margin-top: 15%;
    margin-left: 10%;

    .text {
      padding: 1rem;
      width: 600px;
    }
  }
  .tablet {
    position: absolute;
    transition: 0.5s;
    top: 30%;
    right: 0%;
    width: 60%;
    z-index: 0;
    transform: skewY(14deg);
  }
  .hero {
    position: absolute;
    transition: 0.5s;
    right: 0%;
    width: 80%;
    // height: 90%;
    z-index: -2;
  }
}

@media (max-width: $breakpoint-xl) {
  .home-container {
    .images {
      .tablet {
        transition: 0.5s;
        top: 45%;
      }
      .hero {
        transition: 0.5s;
        right: 0%;
      }
    }
  }
}
@media (max-width: $breakpoint-l) {
  .home-container {
    justify-content: center;
    .text-container {
      display: flex;
      flex-direction: column;
      .text {
        width: 30rem;
      }
    }
    .images {
      .tablet {
        transition: 0.5s;
        top: 60%;
        right: 20%;
      }
      .hero {
        display: none;
      }
    }
  }
}
@media (max-width: $breakpoint-m) {
  .home-container {
    height: 80vh;
    .images {
      .tablet {
        display: none;
      }
    }
  }
}
@media (max-width: $breakpoint-xs) {
  .home-container {
    .title {
      margin-top: 20%;
      p {
        margin: 0;
        font-size: 2em;
        color: $primary;
      }
      h1 {
        margin: 0;
        font-size: 2em;
        color: $primary;
      }
    }
    .text {
      p {
        font-size: 1em;
      }
    }

    .text-container {
      width: 80%;
      height: 300px;
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 10%;

      .text {
        width: 300px;
      }
    }
  }

  #tablet {
    display: none;
  }
  .hero {
    display: none;
  }
}
