.button-container {
  max-width: 300px;
  max-height: 63px;
  width: 50%;
  margin-top: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: white;
  border-radius: 6px;
  background: linear-gradient(180deg, #0090e8 0%, #0de3ff 100%);

  .button-name {
    padding: 10px;
    font-size: 22px;
    font-weight: 2px;
  }
}
