@import "../../scss/colors.scss";
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .title-container {
    width: fit-content;
    border-color: $primary;
    border-bottom: 4px solid $primary;

    .title-name {
      font-size: 28px;
    }
  }
}
