@import "../../scss/colors.scss";

.contactSection {
  background-image: url("../../assets/images/FondoGenzFlip.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 80px;
  padding-bottom: 80px;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 60px;

    .form {
      display: flex;
      flex-direction: column;
      align-content: flex-end;

      .inputContainer {
        display: flex;
        flex-direction: row;
        //flex-wrap: wrap;
        justify-content: flex-end;
        margin: 20px;

        .col-l {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 40%;

          input {
            padding: 8px;
            border-radius: 10px;
            width: 290px;
            height: 48px;

            border: 1px solid $primary2;
            margin-right: 30px;
          }
        }
        .col-r {
          textarea {
            width: 500px;
            height: 344px;
            resize: none;
            border-radius: 8px;
            border: 1px solid $primary2;
            padding: 10px 14px;
          }
        }
      }
      .button {
        height: 63px;
        width: fit-content;
        // left: 808px;
        // top: 581px;
        border-radius: 6px;
        // margin-right: 20px;
        padding: 15px, 20px, 15px, 20px;
        align-self: flex-end;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;

      p {
        font-size: 24px;
        width: 70%;
      }
    }
  }
}
