@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.section-why {
  background-image: url("../../assets/images/FondoGenz.PNG");
  width: 100%;
  .container-why {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    .l-col {
      display: flex;
      flex-direction: column;
    }
    .r-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $white;

      ul {
        list-style: none;
        margin-top: 12rem;

        .list-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 0.5rem;

          .check-icon {
            margin-right: 0.5rem;
            width: 2.5rem;
          }

          .item {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-xxl) {
  .section-why {
    .container-why {
      .r-col {
        width: 50%;
        ul {
          margin-top: 12rem;
          .item {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-l) {
  .section-why {
    width: 100%;
    background: $gradientPrimary;

    .title-container {
      border-bottom: 4px solid white;
      .title-name {
        color: white;
      }
    }
    .container-why {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .l-col {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        img {
          width: 80%;
        }
      }
      .r-col {
        display: flex;
        flex-direction: column;
        color: white;

        ul {
          margin-top: 1rem;
          .list-item {
            .check-icon {
              height: 2rem;
              margin-right: 0.25rem;
            }
            .item {
              display: flex;
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}
