@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.section-why {
	height: 80vh;
	width: 100%;

	.back {
		display: flex;
		position: absolute;
		height: 100%;
		width: 100vw;
		z-index: -1;
		background: $gradientPrimary;
		clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
	}
	.container-why {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		.l-col {
			max-height: 300px;
			// display: flex;
			// flex-direction: column;

			img {
				position: relative;
				bottom: -56px;
				max-width: 100%;
				height: auto;
			}
		}
		.r-col {
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: white;

			ul {
				list-style: none;
				margin-top: 150px;

				.list-item {
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-bottom: 8px;

					.check-icon {
						margin-right: 8px;
					}

					.item {
						display: flex;
						font-size: 24px;
					}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-l) {
	.section-why {
		height: 125vh;
		width: 100%;

		.title-container {
			border-bottom: 4px solid white;
			.title-name {
				color: white;
			}
		}

		.back {
			display: flex;
			position: absolute;
			height: inherit;
			width: 100vw;
			z-index: -1;
			background: $gradientPrimary;
			clip-path: none;
		}
		.container-why {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;

			.l-col {
				display: flex;
				flex-direction: column;
				justify-content: baseline;
				align-content: center;
				max-height: 300px;
				max-width: 80%;

				image {
					position: relative;
					bottom: -56px;
					max-width: 100%;
					height: auto;
				}
			}
			.r-col {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				color: white;
				width: 80%;
				margin-top: -100;

				ul {
					list-style: none;
					margin-top: 60px;

					.list-item {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin-bottom: 8px;

						.check-icon {
							height: 2rem;
							margin-right: 4px;
						}
						.item {
							display: flex;
							font-size: 1em;
						}
					}
				}
			}
		}
	}
}
