$primary: #0090e8;
$primary2: #0de3ff;
$primary3: #104a9e;

$gradientPrimary: linear-gradient(180deg, #0090e8 0%, #0de3ff 100%);
$gradientSecondary: linear-gradient(180deg, #104a9e 0%, #0090e8 100%);
$gradientTernary: linear-gradient(
  180deg,
  #0de3ff 0%,
  rgba(255, 255, 255, 0) 100%
);

$blackTex: #282828;
$black: #0a0a0a;

$white: #ffffff;
